html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'Product Sans';
    src: url(../fonts/ProductSans-Medium.ttf);
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Lato bold';
    src: url(../fonts/Lato-Bold.ttf);
}


body {
    font-family: 'Lato', sans-serif;
    
}


/**** header ****/ 


header {
    height: 525px;
    background: #F4F6F9;
}

.logo {
    background-image: url(../img/football.svg);
    background-repeat: no-repeat;
    background-position: 0px 32px;
    font-family: 'Product Sans';
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.02px;
    color: #5282F0;
    width: 99px;
    margin: auto;
    padding-top: 32px;
    text-align: end;
}

h1 {
    font-family: 'Lato bold';
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.03em;
    color: #333333;
    padding-top: 86px;
    padding-bottom: 8px;
    width: 320px;
    margin: auto;
}

h6 {
    font-family: 'Lato';
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #4F4F4F;
    width: 320px;
    padding-top: 20px;
    padding-bottom: 5px;
    margin: auto;
    letter-spacing: 0.005em;
}

.download {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 323px;
    margin: auto;
}




/**** experience ****/ 



#experience {
    height: 1200px;
    padding-top: 18px;
}

.blue {
    font-family: 'Lato bold';
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #00ADEE;
    padding-top: 36px;
}

h2 {
    font-family: 'Lato bold';
    font-size: 28px;
    line-height: 37px;
    text-align: center;
    color: #333333;
    padding-top: 27px;
}


.match {
    height: 360px;
    background: url(../img/match.png), linear-gradient(180deg, white
     5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);
    background-repeat: no-repeat;
    background-blend-mode: normal;
    position: relative;
}
